<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/assets/css/main.css" />
  <link rel="icon" type="image/png" href="/assets/images/favicon.png" />
</head>
<body>
  <!-- ⇦ Home-logo  -->
  <a href="/" class="logo-link">
    <img src="/assets/images/favicon.png" alt="Inzynx" />
  </a>

  <img class="bg-logo" src="/assets/images/bg-logo.png" alt="bg">

  <div class="content-wrapper">
    <div id="typed-text"     class="typewriter"></div>
    <div id="typed-subtitle" class="typewriter"></div>
    <a id="login-btn" class="hacker-btn">Login ▊</a>
  </div>

  <div id="terminal" class="terminal-overlay" hidden>
    <pre id="term-text"></pre><span class="cursor-green" id="term-cursor">▊</span>
  </div>

  <script src="/assets/js/typewriter.js"></script>
  <script src="/assets/js/terminal.js"></script>
</body>



</html>
